
body{
    text-align: center;
}
.container {
  padding: 30px;
  margin: 50px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  border: 2px solid black;
}

button {
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 5px;
}
button:hover{
    background-color: black;
    color:white;
    border-radius: 5px;
}