.container{
  text-align: center;
  margin-top: 100px;
}
h1{
  margin-bottom: 20px;
}
h2{
  margin-bottom: 20px;
}
button{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
h3{
  color: green;
  margin-top: 20px;
}